<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
  </head>
  <body>
    <div class="student"></div>
  </body>
  <script>
    var namesStr = '{{ site.data.names | jsonify }}';
    var names = JSON.parse(namesStr);
    var namesCount = names.length;
    var randomIndex = Math.floor(Math.random() * namesCount);
    var randomName = names[randomIndex];
    document.getElementsByClassName('student')[0].innerHTML = randomName;
  </script>
</html>
